#root :hover{
    background-color: #4E69A2;
}
#root{
    background-color: rgba(0,0,0,0);
}
.label_focus {
    color: white;
    font-size: 14px;
}

.label_blur {
    color: black;
    font-size: 14px;
}